<!DOCTYPE html>
<html>
  <head>
    <title>Fakebook</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= render 'layouts/nav' %>
  <div class="container">
    <% if notice %>
      <p class="btn default notice blue blue-darken-1"><%= notice %></p>
    <% elsif alert %>
      <p class="btn default alert blue-darken-1"><%= alert %></p>
    <% end %>
    <%= yield %>
  </div>
  </body>
</html>
